name: windows-llvm-build

permissions:
  contents: write

on:
  release:
    types: [published, edited]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  build:
    runs-on: windows-latest
    env:
      BUILD_TYPE: Release
    steps:

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
          path: llvm-19
          submodules: 'recursive'

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Build llvm
      run: |
        cmake -Bbuild -G "Visual Studio 17 2022" -A x64 `
        -DLLVM_ENABLE_RPMALLOC=OFF `
        -DLLVM_TOOL_LLVM_SHLIB_BUILD=OFF `
        -DLLVM_INCLUDE_TESTS=OFF `
        -DLLVM_INCLUDE_TOOLS=ON `
        -DLLVM_INCLUDE_EXAMPLES=OFF `
        -DLLDB_ENABLE_PYTHON=OFF `
        -DLLVM_ENABLE_LIBXML2=OFF `
        -DLLVM_ENABLE_ZLIB=OFF `
        -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} `
        -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded `
        -DLLVM_OBFUSCATION_LINK_INTO_TOOLS=ON `
        -DCMAKE_INSTALL_PREFIX=install `
        -DLLVM_TARGETS_TO_BUILD="X86" `
        -DLLVM_ENABLE_PROJECTS="clang;lld" `
        llvm-19\\llvm
        cmake --version
        cmake --build build --config ${{ env.BUILD_TYPE }} --target install --verbose --parallel 4 -- /p:CL_MPcount=4

    - name: Package llvm
      run: |
        7z a -t7z -mmt -mf -mhc -mhcf -m0=LZMA2 -mx=9 windows-llvm.7z install

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-llvm
        path: windows-llvm.7z

    - name: Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        prerelease: ${{ !startsWith(github.ref, 'refs/tags/v') || contains(github.ref, '-pre') }}
        files: windows-llvm.7z
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
