name: windows-llvm-build

permissions:
  contents: write

on:
  release:
    types: [published, edited]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  workflow_call:
    inputs:
      tag_name_r:
        description: 'Release tag'
        required: false
        type: string
      release_name_r:
        description: 'Release name'
        required: false
        type: string
    secrets:
      personal_access_token:
        required: true

jobs:
  build:
    timeout-minutes: 150
    runs-on: windows-latest
    env:
      BUILD_TYPE: Release
    steps:
    - name: Get CPU core count (Windows)
      id: cpu
      shell: powershell
      run: |
        $cores = (Get-CimInstance -ClassName Win32_Processor).NumberOfLogicalProcessors
        echo "cores=$cores" >> $env:GITHUB_OUTPUT
        echo "CORES=$cores" >> $env:GITHUB_ENV

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        path: llvm-19
        submodules: recursive
        show-progress: true

    - name: Install sccache
      run: choco install sccache -y

    - name: Check Ninja version
      run: ninja --version

    - name: Check clang-cl version
      run: clang-cl --version

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Build llvm
      shell: cmd
      run: |
        call "%ProgramFiles%\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake -Bbuild -G Ninja ^
        -DLLVM_ENABLE_RPMALLOC=OFF ^
        -DLLVM_TOOL_LLVM_SHLIB_BUILD=OFF ^
        -DLLVM_INCLUDE_TESTS=OFF ^
        -DLLVM_INCLUDE_TOOLS=ON ^
        -DLLVM_INCLUDE_EXAMPLES=OFF ^
        -DLLDB_ENABLE_PYTHON=OFF ^
        -DLLVM_ENABLE_LIBXML2=OFF ^
        -DLLVM_ENABLE_ZLIB=OFF ^
        -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} ^
        -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded ^
        -DLLVM_OBFUSCATION_LINK_INTO_TOOLS=ON ^
        -DCMAKE_INSTALL_PREFIX=install ^
        -DLLVM_TARGETS_TO_BUILD="X86" ^
        -DLLVM_ENABLE_PROJECTS="clang;lld" ^
        -DCMAKE_C_COMPILER=clang-cl ^
        -DCMAKE_CXX_COMPILER=clang-cl ^
        -DCMAKE_C_COMPILER_LAUNCHER=sccache ^
        -DCMAKE_CXX_COMPILER_LAUNCHER=sccache ^
        llvm-19\\llvm
        cmake --build build --config ${{ env.BUILD_TYPE }} --target install --verbose -j ${{ env.CORES }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-llvm
        path: install/

    - name: Package llvm
      run: |
        7z a -t7z -mmt -mf -mhc -mhcf -m0=LZMA2 -mx=3 windows-llvm.7z `
          install/bin/clang.exe `
          install/bin/clang-cl.exe `
          install/bin/clang-cpp.exe `
          install/bin/clang-format.exe `
          install/bin/clang++.exe `
          install/bin/lld.exe `
          install/bin/lld-link.exe `
          install/bin/llvm-ar.exe `
          install/bin/llvm-lib.exe `
          install/bin/llvm-nm.exe `
          install/bin/llvm-objdump.exe `
          install/bin/llvm-readobj.exe `
          install/bin/llvm-strip.exe

    - name: Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      with:
        tag_name: ${{ github.event.release.tag_name }}
        name: ${{ github.event.release.name }}
        draft: false
        prerelease: false
        files: windows-llvm.7z
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload GitHub Release
      if: github.event_name == 'workflow_call'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ inputs.tag_name_r }}
        name: ${{ inputs.release_name_r }}
        repository: JiaPai12138/OLLVM19
      env:
        GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
